{{!BEGIN-SNIPPET todomvc-component-template}}
<div class="todoapp-container">
  <div class="todoapp">
    {{log "1" this.todomvc}}
    <form class="header" {{on "submit" this.todomvc.insertNewTodo}} autocomplete="off">
      <h1>{{this.todomvc.title.state}}</h1>
      <input
        name="newTodo"
        class="new-todo"
        placeholder="What needs to be done?"
        autofocus={{true}}
        value={{this.todomvc.newTodo.state}}
        onchange={{tval this.todomvc.newTodo.set}}
      />
    </form>
    <div class="main">
      <input class="toggle-all" type="checkbox" checked={{this.todomvc.isAllComplete}} />
      <label for="toggle-all" {{on "click" this.todomvc.toggleAll}}>
        Mark all as complete
      </label>
      <ul class="todo-list">
        {{#each this.todomvc.filtered key="id.state" as |todo|}}
          <li class={{if todo.completed.state "completed"}}>
            {{#if todo.editing.state}}
              {{log "2" todo.save}}
              <form {{on "submit" todo.save}}>
                <input
                  class="edit" 
                  value={{todo.text.state}} 
                  onchange={{tval todo.text.set}}
                  onblur={{todo.save}}
                  autofocus={{true}}
                />
              </form>
            {{else}}
              <div class="view">
                <input 
                  class="toggle" 
                  type="checkbox" 
                  checked={{todo.completed.state}} 
                  onclick={{todo.completed.toggle}} 
                />
                <label {{on "dblclick" todo.edit}}>
                  {{todo.text.state}}
                </label>
                <button type="button" class="destroy" {{on "click" (fn this.todomvc.todos.remove todo)}} />
              </div>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    <footer class="footer">
      <span class="todo-count">
        <strong>
          {{this.todomvc.active.length}}
        </strong>
        {{if (eq this.todomvc.active.length 1) 'item' 'items'}} left
      </span>
      <ul class="filters">
        {{#each this.todomvc.filters as |filter|}}
          <li>
            <button
              type="button"
              class={{if filter.selected "selected"}}
              {{on "click" filter.select}}
            >
              {{filter.label}}
            </button>
          </li>
        {{/each}}
      </ul>
      {{#if this.todomvc.hasCompleted}}
        <button type="button" class="clear-completed" {{on "click" this.todomvc.clearCompleted}}>
          Clear completed
        </button>
      {{/if}}
    </footer>
  </div>
</div>
{{!END-SNIPPET}}