{{!BEGIN-SNIPPET todomvc-component-template}}
<div class="todoapp-container">
  <div class="todoapp">
    <form class="header" {{action todomvc.insertNewTodo on="submit"}} autocomplete="off">
      <h1>{{todomvc.title.state}}</h1>
      <input
        name="newTodo"
        class="new-todo"
        placeholder="What needs to be done?"
        autofocus={{true}}
        value={{todomvc.newTodo.state}}
        onchange={{action todomvc.newTodo.set value="target.value"}}
      />
    </form>
    <div class="main">
      <input class="toggle-all" type="checkbox" checked={{todomvc.isAllComplete}} />
      <label for="toggle-all" {{action todomvc.toggleAll}}>
        Mark all as complete
      </label>
      <ul class="todo-list">
        {{#each todomvc.filtered key="id.state" as |todo|}}
          <li class={{if todo.completed.state "completed"}}>
            {{#if todo.editing.state}}
              <form {{action todo.save on="submit"}}>
                <input
                  class="edit" 
                  value={{todo.text.state}} 
                  onchange={{action todo.text.set value="target.value"}}
                  onblur={{action todo.save}}
                  autofocus={{true}}
                />
              </form>
            {{else}}
              <div class="view">
                <input 
                  class="toggle" 
                  type="checkbox" 
                  checked={{todo.completed.state}} 
                  onclick={{action todo.completed.toggle}} 
                />
                <label {{action todo.edit on="doubleClick"}}>
                  {{todo.text.state}}
                </label>
                <button type="button" class="destroy" {{action todomvc.todos.remove todo}} />
              </div>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    <footer class="footer">
      <span class="todo-count">
        <strong>
          {{todomvc.active.length}}
        </strong>
        {{if (eq todomvc.active.length 1) 'item' 'items'}} left
      </span>
      <ul class="filters">
        {{#each todomvc.filters as |filter|}}
          <li>
            <button
              type="button"
              class={{if filter.selected "selected"}}
              {{action filter.select}}
            >
              {{filter.label}}
            </button>
          </li>
        {{/each}}
      </ul>
      {{#if todomvc.hasCompleted}}
        <button type="button" class="clear-completed" {{action todomvc.clearCompleted}}>
          Clear completed
        </button>
      {{/if}}
    </footer>
  </div>
</div>
{{!END-SNIPPET}}