{{!BEGIN-SNIPPET tree}}
{{#if @node.children}}
  <button {{on "click" @node.isOpen.toggle}}>
    <FaIcon @icon={{if @node.isOpen.state 'minus-square' 'plus-square'}}/>
  </button>
{{/if}}
<input 
  type="text" 
  value={{@node.counter.state}} 
  onchange={{action node.counter.set value="target.value"}}
> 
<button {{on "click" @node.counter.increment}}><FaIcon @icon="caret-up"/></button>
<button {{on "click" @node.counter.decrement}}><FaIcon @icon="caret-down"/></button>
<button {{on "click" @node.addChild}} class="add"><FaIcon @icon="plus"/></button>
{{#if @onRemoveChild}}
  <button {{on "click" @onRemoveChild}}><FaIcon @icon="trash"/></button>
{{/if}}
{{#if @node.isOpen.state}}
  <ul>
    {{#each @node.children key="@index" as |child|}}
      <li><Tree @node={{child}} @onRemoveChild={{fn @node.children.remove child}}/></li>
    {{/each}}
  </ul>
{{/if}}
{{!END-SNIPPET}}
