<h2 id="title">Welcome to Ember</h2>
{{#bind (boolean) (list groceries) (string "a string") (number) as |switch items str num|}}
  <h3>Boolean</h3>
  value: <span class="spec-boolean-value">{{#if switch}}true{{else}}false{{/if}}</span>
  <hr/>
  <button class="spec-toggle" onclick={{switch.toggle}}>Toggle</button>
  <button class="spec-set-true" onclick={{action switch.set true}}>Set True</button>
  <button class="spec-set-false "onclick={{action switch.set false}}>Set False</button>

  <h3>List</h3>
  <ol class="spec-list">
    {{#each items as |item i|}}
      <li>{{item}} <button class="spec-remove-item-{{i}}" onclick={{action items.remove item}}>x</button></li>
    {{/each}}
  </ol>
  <label>Add Item: {{input action=(action items.push)}}</label>
  <hr/>
  <button class="spec-pop" onclick={{action items.pop}}>Pop</button>
  <button class="spec-shift" onclick={{action items.shift}}>Shift</button>

  <h3>String</h3>
  {{one-way-input class="spec-string-input" update=(action str.set)}} <span class="spec-string">"{{str}}"</span>

  <h3>Number</h3>
  value: {{num}}
  <hr/>
  <button onclick={{action num.add 1}}>+</button>
  <button onclick={{action num.subtract 1}}>-</button>
{{/bind}}
