<h2 id="title">Welcome to Ember</h2>
{{#bind (boolean) (list) (string) (number) as |switch items str num|}}
  <h3>Boolean</h3>
  value: {{#if switch}}true{{else}}false{{/if}}
  <hr/>
  <button onclick={{switch.toggle}}>Toggle</button>
  <button onclick={{action switch.set true}}>Set True</button>
  <button onclick={{action switch.set false}}>Set False</button>

  <h3>List</h3>
  <ol>
    {{#each items as |item|}}
      <li>{{item}} <button onclick={{action items.remove item}}>x</button></li>
    {{/each}}
  </ol>
  <label>Add Item: {{input action=(action items.push)}}</label>
  <hr/>
  <button onclick={{action items.pop}}>Pop</button>
  <button onclick={{action items.shift}}>Shift</button>

  <h3>String</h3>
  {{one-way-input update=(action str.set)}} "{{str}}"

  <h3>Number</h3>
  value: {{num}}
  <hr/>
  <button onclick={{action num.add 1}}>+</button>
  <button onclick={{action num.subtract 1}}>-</button>
{{/bind}}
