<h1 id="title">@microstates/ember Demo</h1>

<h2>Boolean</h2>
<section>
  <div class="column demo">
    {{!BEGIN-SNIPPET boolean}}
    {{#let (state false) as |switch|}}
      <strong>Value</strong>: 
      <span class="spec-boolean-value">{{if switch.state "true" "false"}}</span>
      <br>
      <strong>Transitions</strong>
      <button class="spec-toggle" {{action switch.toggle}}>Toggle</button>
      <button class="spec-set-true" {{action switch.set true}}>Set True</button>
      <button class="spec-set-false" {{action switch.set false}}>Set False</button>
    {{/let}}
    {{!END-SNIPPET}}
  </div>
  <div class="column code">
    {{code-snippet name="boolean.hbs"}}
  </div>
</section>

<h2>Number</h2>
<section>
  <div class="column demo">
    {{!BEGIN-SNIPPET number}}
    {{#let (state 5) as |num|}}
      <strong>Value</strong>: <span class="spec-number">{{num.state}}</span><br>
      <strong>Transitions</strong>:
      <button class="spec-increment" {{action num.increment}}>{{num.state}}++</button>
      <button class="spec-decrement" {{action num.decrement}}>{{num.state}}--</button>
    {{/let}}
    {{!END-SNIPPET}}
  </div>
  <div class="column code">
    {{code-snippet name="number.hbs"}}
  </div>
</section>

<h2>String</h2>
<section>
  <div class="column demo">
    {{!BEGIN-SNIPPET string}}
    {{#let (state "a string") as |str|}}
      <strong>Value</strong>: <span class="spec-string">"{{str.state}}"</span><br>
      <strong>Transition</strong>
      <input 
        class="spec-string-input" 
        value={{str.state}} 
        oninput={{action str.set value="target.value"}}
      >
    {{/let}}
    {{!END-SNIPPET list}}
  </div>
  <div class="column code">
    {{code-snippet name="string.hbs"}}
  </div>
</section>

<h2>Object</h2>
<section>
  <div class="column demo">
    {{!BEGIN-SNIPPET object}}
    {{#let (state initialCar) as |car|}}
      <ul>
        {{#each car as |attr|}}
          <li class="spec-object-prop spec-object-prop-{{attr.key}}">
            <strong>{{attr.key}}</strong>: <span class="spec-object-prop-value">{{attr.value.state}}</span> 
            <button {{action car.delete attr.key}} class="spec-delete-prop">X</button>
          </li>
        {{/each}}
      </ul>
      <button 
        class="spec-object-assign" 
        {{action car.assign additional}}
      >
        Add Properties
      </button>
      <button class="spec-object-put" {{action car.put "year" 1967}}>Put property</button>
    {{/let}}
    {{!END-SNIPPET}}
  </div>
  <div class="column code">
    {{code-snippet name="object.hbs"}}
  </div>
</section>

<h2>Array</h2>
<section>
  <div class="column demo">
    {{!BEGIN-SNIPPET list}}
    {{#let (state groceries) as |items|}}
      <strong>Value</strong>
      <ol class="spec-list">
        {{#each items as |item|}}
          <li>{{item.state}} {{!--- <button class="spec-remove-item-{{i}}" {{action items.remove item}}>x</button> --}}</li>
        {{/each}}
      </ol>
      <strong>Transitions</strong><br>
      <label>Add Item: {{input enter=(action items.push)}}</label><br>
      <button class="spec-pop" {{action items.pop}}>Pop</button>
      <button class="spec-shift" {{action items.shift}}>Shift</button>
    {{/let}}
    {{!END-SNIPPET}}
  </div>
  <div class="column code">
    {{code-snippet name="list.hbs"}}
  </div>
</section>

<h2>Tree</h2>
<section>
  <div class="column demo">
    <div class="spec-tree">
      {{!BEGIN-SNIPPET tree-demo}}
      {{#let (state (type "node") tree) as |node|}}
        <Tree @node={{node}} />
      {{/let}}
      {{!END-SNIPPET}}
    </div>
  </div>
  <div class="column code">
    {{code-snippet name="tree-demo.hbs"}}
    <h3>Component</h3>
    {{code-snippet name="tree.hbs"}}
    <h3>State</h3>
    {{code-snippet name="node.js"}}
  </div>
</section>