{{#burger-menu as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <button {{action burger.state.actions.close}}>Close</button>

    <ul class="list-reset">
    {{#each-in 
      (object
        Any="#any-demo" 
        Boolean="#boolean-demo"
        Number="#number-demo"
        Object="#object-demo"
        Array="#array-demo"
        TodoMVC="#todomvc-demo"
      ) as |name url|
    }}
      {{#menu.item}}
        <a href={{url}}>{{name}}</a>
      {{/menu.item}}
    {{/each-in}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <button class="burger" {{action burger.state.actions.toggle}}>
      {{fa-icon "bars" size=2}}
    </button>

    <div class="container mx-auto px-4 flex flex-wrap">
      {{outlet}}
    </div>
  {{/burger.outlet}}
{{/burger-menu}}