{{#let
   (boolean)
   (list groceries)
   (string "a string")
   (number 5)
   (choice animals selection="Cow")
   (choice animals selection="Horse" multiple=true)
   (object color="red" model="Mustang" make="Ford")
   as |switch items str num pets livestock car|
}}
  <h2 id="title">Welcome to Ember</h2>

  <h3>Boolean</h3>
  value: <span class="spec-boolean-value">{{#if switch}}true{{else}}false{{/if}}</span>
  <hr/>

  <button class="spec-toggle" onclick={{action switch.toggle}}>Toggle</button>
  <button class="spec-set-true" onclick={{action switch.set true}}>Set True</button>
  <button class="spec-set-false" onclick={{action switch.set false}}>Set False</button>

  <h3>List</h3>
  <ol class="spec-list">
    {{#each items as |item i|}}
      <li>{{item}} <button class="spec-remove-item-{{i}}" onclick={{action items.remove item}}>x</button></li>
    {{/each}}
  </ol>
  <label>Add Item: {{input enter=(action items.push)}}</label>
  <hr/>
  <button class="spec-pop" onclick={{action items.pop}}>Pop</button>
  <button class="spec-shift" onclick={{action items.shift}}>Shift</button>

  <h3>String</h3>
  {{one-way-input class="spec-string-input" update=str.set}} <span class="spec-string">"{{str}}"</span>

  <h3>Number</h3>
  value: <span class="spec-number">{{num}}</span>
  <hr/>
  <button class="spec-add" onclick={{action num.add 1}}>+</button>
  <button class="spec-subtract" onclick={{action num.subtract 1}}>-</button>

  <h3> Single Choice </h3>
  Current Choice: {{pets.selection}}
  <br/>
  {{#each pets.options as |option|}}
    <label>
      <input class="spec-choice spec-choice-{{option.value}}" type="checkbox" checked={{option.isSelected}} onclick={{action option.toggle}}>
      {{option.value}}
    </label>
  {{/each}}

  <h3> Multiple Choice </h3>
  {{#each livestock.options as |option|}}
    <label>
      <input class="spec-multiple-choice spec-multiple-choice-{{option.value}}" type="checkbox" checked={{option.isSelected}} onclick={{action option.toggle}}>
      {{option.value}}
    </label>
  {{/each}}
  <br/>
  Current Choices:
  <ul>
    {{#each livestock.selection as |selection|}}
      <li> {{selection}}</li>
    {{/each}}
  </ul>
  <h3>Object</h3>
  <ul>
    {{#each (keys car) as |name|}}
      <li class="spec-object-prop spec-object-prop-{{name}}"><strong>{{name}}</strong>: <span class="spec-object-prop-value">{{get car name}}</span> <button {{action car.delete name}} class="spec-delete-prop">X</button></li>
    {{/each}}
    <button class="spec-object-assign" {{action car.assign (hash speed="fast" suspension="stiff")}}>Add Properties</button>
    <button class="spec-object-put" {{action car.put "year" 1967}}>Put property</button>
  </ul>
{{/let}}