<h1 id="title">ember-microstates Demo</h1>

{{#state-for MyApp value=value onchange=(action (mut value)) as |app|}}
  {{app.counter.state}}
  <button type='button' onclick={{action app.counter.increment value=1}}>+1</button>
{{/state-for}}  

<form {{action 'save' on='submit'}}>
  <input type='text' placeholder='Name' oninput={{action user.name.set value='target.value'}}>
  <input type='text' placeholder='Email' oninput={{action user.email.set value='target.value'}}>
  <label>
    Is an admin?
    <input type='checkbox' checked={{user.superuser.state}} onchange={{action user.superuser.toggle}}>
  </label>
  <button disabled={{user.state.notFilled}}>Submit</button>
</form>