<h1 id="title">ember-microstates Demo</h1>

<h2>Boolean</h2>
<section>
  <div class="column demo">
    {{!BEGIN-SNIPPET boolean}}
    {{#let (Boolean) as |switch|}}
      <strong>Value</strong>: 
      <span 
        class="spec-boolean-value"
      >
        {{#if switch.state~}}
          true
        {{~else~}}
          false
        {{~/if}}
      </span>
      <br>
      <strong>Transitions</strong>
      <button class="spec-toggle" {{action switch.toggle}}>Toggle</button>
      <button class="spec-set-true" {{action switch.set true}}>Set True</button>
      <button class="spec-set-false" {{action switch.set false}}>Set False</button>
    {{/let}}
    {{!END-SNIPPET}}
  </div>
  <div class="column code">
    {{code-snippet name="boolean.hbs"}}
  </div>
</section>

<h2>Number</h2>
<section>
  <div class="column demo">
    {{!BEGIN-SNIPPET number}}
    {{#let (Number 5) as |num|}}
      <strong>Value</strong>: <span class="spec-number">{{num.state}}</span><br>
      <strong>Transitions</strong>:
      <button class="spec-increment" {{action num.increment}}>{{num.state}}++</button>
      <button class="spec-decrement" {{action num.decrement}}>{{num.state}}--</button>
    {{/let}}
    {{!END-SNIPPET}}
  </div>
  <div class="column code">
    {{code-snippet name="number.hbs"}}
  </div>
</section>

<h2>String</h2>
<section>
  <div class="column demo">
    {{!BEGIN-SNIPPET string}}
    {{#let (String "a string") as |str|}}
      <strong>Value</strong>: <span class="spec-string">"{{str.state}}"</span><br>
      <strong>Transition</strong>
      <input 
        class="spec-string-input" 
        value={{str.state}} 
        oninput={{action str.set value="target.value"}}
      >
    {{/let}}
    {{!END-SNIPPET list}}
  </div>
  <div class="column code">
    {{code-snippet name="string.hbs"}}
  </div>
</section>

<h2>Object</h2>
<section>
  <div class="column demo">
    {{!BEGIN-SNIPPET object}}
    {{#let (Object (hash color="red" model="Mustang" make="Ford")) as |car|}}
      <ul>
        {{#each-in car as |name|}}
          <li class="spec-object-prop spec-object-prop-{{name}}">
            <strong>{{name}}</strong>: <span class="spec-object-prop-value">{{get car name}}</span> 
            <button {{action car.delete name}} class="spec-delete-prop">X</button>
          </li>
        {{/each-in}}
      </ul>
      <button 
        class="spec-object-assign" 
        {{action car.assign (hash speed="fast" suspension="stiff")}}
      >
        Add Properties
      </button>
      <button class="spec-object-put" {{action car.put "year" 1967}}>Put property</button>
    {{/let}}
    {{!END-SNIPPET}}
  </div>
  <div class="column code">
    {{code-snippet name="object.hbs"}}
  </div>
</section>