{{#burger-menu animation="squeeze" width=200 as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <Menu @item={{menu.item}} />
  {{/burger.menu}}

  {{#burger.outlet}}
    <div class="container mx-auto px-4 flex flex-wrap">
      <nav>
        <h1 id="title">
          {{#unless (eq currentPath 'index')}}
            <button type="button" class="burger" {{action burger.state.actions.toggle}}>
              {{fa-icon "bars"}}
            </button>
          {{/unless}}
          {{link-to '@microstates/ember' 'index'}}
        </h1>
      </nav>
      <main>
        {{outlet}}
      </main>
    </div>
  {{/burger.outlet}}
{{/burger-menu}}